@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Helvetica;
    src: url(/fonts/HelveticaNowDisplay-Regular.woff2);
}

@font-face {
    font-family: Neue;
    src: url(/fonts/NeueMontreal-Regular.woff2);
}

*::-webkit-scrollbar{
    display: none;
}

.full{
    overflow: hidden;
    position: fixed;
    z-index: 999;
}

.elem:hover{
    transform: translateY(-100%);
}
